<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="EmpMapper">
  		<sql id="kind">
 		<trim prefix="where" prefixOverrides="and || or">
 		<if test='kind == ""'>
 			emp_name like '%'||#{search}||'%'
 		</if>
 		<if test='kind == "m"'>
 			emp_name like '%'||#{search}||'%' and dept_name='m'
 		</if>
 		<if test='kind == "n"'>
 			emp_name like '%'||#{search}||'%' and dept_name='n'
 		</if>
 		<if test='kind == "h"'>
 			emp_name like '%'||#{search}||'%' and dept_name='h'
 		</if>
 		</trim>
 	</sql>
  
  	<select id="list" resultType="com.intranet.emp.EmpDTO" parameterType="com.intranet.util.ListSearch">
  		select * from emp 
  		<include refid="kind"></include>
  	</select>
  	
  	<select id="search" resultType="com.intranet.emp.EmpDTO" parameterType="java.lang.Integer">
  		select * from emp where emp_num=#{num}
  	</select>
  </mapper>