<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ProductMapper">
  
  <resultMap type="com.intranet.product.ProductDTO" id="myProduct">
  
  </resultMap>
  
  <insert id="insert" statementType="CALLABLE" parameterType="java.util.Map">
  
  { call productinsert(#{productDTO.outsourcing, mode=IN}, #{productDTO.item, mode=IN}, #{productDTO.price, mode=IN}, #{productDTO.count, mode=IN}, #{productDTO.total_price, mode=IN}, #{result, mode=OUT, javaType=int, jdbcType=INTEGER}) }
  
  </insert>
  
 
  <select id="list" resultType="com.intranet.product.ProductDTO" parameterType="java.lang.String">
  
  select * from product where in_date like '%'||#{in_date}||'%' order by in_date asc, num asc
  
  </select>
  
  <select id="outsourcingList" resultType="com.intranet.product.ProductDTO">
  
  select distinct outsourcing from stock
  	
  </select>
  
  <select id="itemList" parameterType="java.lang.String" resultType="com.intranet.product.ProductDTO">
  	select item from stock where outsourcing=#{outsourcing}
  </select>
  

  
  </mapper>